@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #010718;
}
.container {

}
.container .text {
    position: relative;
    color: #4070f4;
    font-size: 30px;
    font-weight: 600;
}
.container .text.first-text {
    color: #FFF;
}
.container .text.sec-text {
    content: '';
}